<nav class="subnav" aria-label="Secciones de kéfir de agua">
  <a href="/agua/" {{current:agua}}>Lo esencial</a>
  <a href="/agua/calculadora/" {{current:agua/calculadora}}>Calculadora</a>
  <a href="/agua/temperatura/" {{current:agua/temperatura}}>Temperatura</a>
  <a href="/agua/proporciones/" {{current:agua/proporciones}}>Proporciones</a>
  <a href="/agua/punto/" {{current:agua/punto}}>Cuándo está lista</a>
  <a href="/agua/insumos/" {{current:agua/insumos}}>Azúcar y agua</a>
  <a href="/agua/segunda/" {{current:agua/segunda}}>Segunda fermentación y sabores</a>
  <a href="/agua/cuidado/" {{current:agua/cuidado}}>Cuidado de los tibicos</a>
  <a href="/agua/problemas/" {{current:agua/problemas}}>Problemas</a>
  <a href="/agua/fuentes/" {{current:agua/fuentes}}>Fuentes</a>
</nav>
